body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    color: #6c757f;
    background-color: rgba(20,21,25,255);
}
h1 {
    color: white;
}

.card-thankyou {
    visibility: hidden;
}

.selected {
    background-color: orange;
}

